// Shortcut theming

$shortcut-height: $base-line-height * 1.5 !default;

.add-or-remove-shortcuts {
  @include inline-block();
  padding: 0 $shortcut-height/4 0 $shortcut-height/4;
  position: relative;
  margin-bottom: $base-line-height;
  line-height: $base-line-height;
  font-size: .8em;
  @include breakpoint($breakpoint-m) {
    font-size: 1em;
    padding: 0 $shortcut-height/2 0 $shortcut-height/2;
  }
  .text {
    display: none;
  }
  .icon {
    @include inline-block();
    width: 1em;
    height: 1em;
  }
  & > a {
    @include inline-block();
    margin-top: 1px;
    margin-bottom: 3px;
    &:hover {
      .text {
        display: inline;
      }
    }
  }
}
