
/* Blink Animation */
@keyframes blink {
  0% {background-color: #f69231;}
  50% {background-color: #d94f13;}
  99% {background-color: #f69231;}
}

@-moz-keyframes blink {
  0% {background-color: #f69231;}
  50% {background-color: #d94f13;}
  99% {background-color: #f69231;}
}

@-webkit-keyframes blink {
  0% {background-color: #f69231;}
  50% {background-color: #d94f13;}
  99% {background-color: #f69231;}
}

@-o-keyframes blink {
  0% {background-color: #f69231;}
  50% {background-color: #d94f13;}
  99% {background-color: #f69231;}
}

body.admin-menu {
  margin-top: 29px !important;
}
/* Admin menu */
#admin-menu {
  background: #333;
  background: none repeat scroll 0 0 #202020;
  border-bottom: 1px solid #111111;
  font-family: $sans-font-family;
}

#admin-menu li.admin-menu-toolbar-home-menu {
  background: transparent;
}

#admin-menu ul.dropdown span.admin-menu-home-icon {
  background: url("images/home.png") no-repeat scroll 0 2px transparent;
  display: block;
  margin: 5px 0 0;
  padding: 0;
  width: 13px;
}

#admin-menu ul.dropdown span.admin-menu-home-icon:hover {
  background-position: 0px -86px;
}

#admin-menu a,
#admin-menu span {
  border: none !important;
  font-family: $sans-font-family;
  font-size: 12px;
  line-height: 18px;
}

#admin-menu a:hover {
  background-color: #0074bd;
  color: #fff;
}

#admin-menu .dropdown li li {
  background-color: #1f1f1f;
}

#admin-menu .dropdown li li.expandable ul {
  margin-top: -28px;
}

#admin-menu .dropdown li li > li.admin-menu-toolbar-category {
  background: #fff !important;
}

#admin-menu .dropdown li li li:hover,
#admin-menu .dropdown li:hover {
  background: #0074bd !important;
}

#admin-menu .dropdown a {
  border-right: none;
}

#admin-menu .dropdown li.admin-menu-toolbar-category a {
  line-height: 20px;
}

#admin-menu #admin-menu-wrapper .dropdown li li {
  opacity: 1;
}

#admin-menu .dropdown li li:hover,
#admin-menu .dropdown li li.iehover {
  background-color: #333;
}

#admin-menu #admin-menu-wrapper .dropdown li li a {
  border: none;
}

#admin-menu #admin-menu-wrapper .dropdown li li.expandable {
  background: url("images/square.png") no-repeat scroll 145px 11px #1f1f1f;
}

#admin-menu #admin-menu-wrapper .dropdown li li.expandable a {
  background: transparent !important;
  padding-right: 25px;
  width: 135px;
}

#admin-menu #admin-menu-wrapper .dropdown li li.expandable:hover {
  background: url("images/square.png") no-repeat scroll 145px -83px #0074bd !important;
}

/* Shortcuts bar */

div.toolbar-shortcuts {
  float: left;
}

div.shortcut-toolbar div#toolbar div.toolbar-shortcuts ul.menu {
  margin: 0;
  padding: 0;
}

div.shortcut-toolbar div#toolbar div.toolbar-shortcuts ul.menu li {
  float: left;
  list-style: none outside none;
  padding: 0;
}

div.shortcut-toolbar div#toolbar a#edit-shortcuts {
  float: right;
  line-height: 18px;
  padding: 5px 10px;
}

div.shortcut-toolbar div#toolbar a#edit-shortcuts:hover {
  text-decoration: none;
}

#admin-menu .dropdown li.admin-menu-action a {
  border: none !important;
}

#admin-menu .dropdown li.admin-menu-action:first-child a {
  background: #444;
  padding: 5px 10px;
}

#admin-menu .dropdown li.admin-menu-action:first-child a:hover {
  background: #b73939;
}

#admin-menu .dropdown li.admin-menu-action.admin-menu-users {
  border-left: 1px solid #000;
}

#admin-menu .dropdown li.admin-menu-action.admin-menu-users a:hover {
  background: #0074BD;
}

#admin-menu .dropdown li.admin-menu-action.admin-menu-account a {
  background: #4d8f46 !important;
  border: medium none;
  padding: 5px 10px;
}

#admin-menu .dropdown li.admin-menu-action.admin-menu-account a:hover {
  background: #277d1e !important;
}

#admin-menu #admin-menu-wrapper div#toolbar div.toolbar-shortcuts ul li a {
  background: url("images/shortcut.png") no-repeat scroll 7px 7px transparent;
  border-radius: 0 0 0 0;
  display: block;
  margin-right: 0;
  padding: 5px 10px;
  text-indent: 16px;
}

#admin-menu #admin-menu-wrapper div#toolbar div.toolbar-shortcuts ul li a:hover {
  background-color: #0074bd;
  background-position: 7px -78px;
}

#admin-menu .admin-menu-search input {
  background: none no-repeat scroll right center #444;
  border: medium none;
  border-radius: 0 0 0 0;
  color: #999999;
  font-size: 12px;
  margin: 0 !important;
  outline: medium none;
  padding: 5px 22px 3px 8px;
  width: 110px;
  height: 20px;
}

#admin-menu .admin-menu-search input:focus, #admin-menu .admin-menu-search input:hover, #admin-menu .admin-menu-search input:active {
  background: none no-repeat scroll right center #888;
  color: #eee;
}

li.admin-menu-search:hover {
  background: transparent !important;
}

#admin-menu li.highlight {
  background-color: #ef6114 !important;
  animation: blink 0.5s ease infinite;
  -moz-animation: blink 0.5s ease infinite;
  -webkit-animation: blink 0.5s ease infinite;
  -o-animation: blink 0.5s ease infinite;
}

#admin-menu li.highlight > a {
  border-color: #ef6114 !important;
  color: #fff !important;
}


/* Environment indicator 2.x */
#admin-menu #environment-indicator {
  text-shadow: none;
}

#admin-menu #environment-indicator .environment-indicator-name {
  background-image: none;
  border-left: 1px solid #323232;
  border-radius: 0;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 10px;
}
