@import '../config';

fieldset {
  &.ief-form {
    background: $fieldset-ief-form-bg;
    padding: 1em !important;
    box-shadow: inset 0px 0px 5px 1px rgba(43, 48, 74, 0.6);
    border: 1px solid $fieldset-ief-form-border-color;
    border-radius: 0;
    fieldset {
      background: transparent;
    }
  }
}

.ief-entity-table {
  margin-bottom: 1em;
}
