@import '../config';

fieldset {
  &.ief-form {
    background: $white;
    padding: 0 !important;
    border-radius: 0;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      background: rgba(243, 243, 243, 0.85);
      width: 5000px;
      height: 5000px;
      top: 50%;
      left: 50%;
      margin-left: -2500px;
      margin-top: -2500px;
    }

    > .fieldset-wrapper {
      background: white;
      padding: 1em;
      border: 1px solid #efefef;
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    }

    fieldset {
      background: transparent;
    }
  }
}

.ief-entity-table {
  margin-bottom: 1em;
}
